<!DOCTYPE html>
<html lang="en"> 
	<head> 
		<title>Mailing login</title>

	</head> 
	<body>
	<h1>Mailing login</h1>
	
	<form method="post" action="/api/v0.1/users/login">
		<label>Username: <input type="text" name="username" /></label><br />
		<label>Password: <input type="password" name="password" /></label><br />
		<label>SecretKey: <input id="secretkey"  type="text" name="secretkey" /></label><br />
		<br />
		<button type="submit">Connect</button>
	</form>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
	<script src="notify.js"></script>
	</body> 
</html>
